#cmake build files
build/
build.dev/
build.release/
cmake-build-release/
cmake-build-debug/

#misc
.gdb_history
lab/
compile_commands.json
.cache/
.idea/
*.dev.sh

#rust build files
target/
Cargo.lock
